body {
    margin: 2%;
    clear: both;
}
header {
    margin: 2%;
}
nav {
    clear: both;
    color: #dddddd;
    margin: 2%;
}
ul {
    list-style-type: none;
}
li.one {
    float: left;
    padding: 10px;
}
.inst {
    padding: 10px;
    clear: both;
}
footer {
    margin: 5%;
    padding: 0px;
    float: left;
    background-color: #eeeeee;
    width: 90%
}
li.two {
    clear: both;
    font-family: "roboto", sans-serif;
}
div.map {
    float: left;
    padding: 10px;
}
article.hours {
    float: left;
    padding: 20px;
}
article.contact {
    float: left;
    padding: 20px;
}
p.cr {
    clear: both;
    padding: 10px;
    font-family: "roboto", sans-serif;
}
*{margin: 0%; padding: 0;}
p {
    font-family: helvetica, serif;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 14px;
    color: #111111;
    text-align: left;
}
h {
    font-family: "roboto", sans-serif;
    color: #333333;
}
a {
    color: #388E3C;
    padding: 20px;
}
a:hover {
    color: #333333;
    text-decoration: underline; 
}
img {
    width: 20%;
}

div {
    box-sizing: border-box;
}
div.row {
    width: 90%; 
    margin: auto;
    background-color: #eeeeee;
}
div.row:after {
    content: ""; 
    display: table; 
    clear: both;
}
div[class^='col'] {
    float: left;
}
div.col-1-of-2 {
    width: 49%; 
    padding: 4%
}
@media only screen and (max-width: 480px) {
	div.col-1-of-2 {
		width: 100%; 
	}